---
import App from '@layouts/App.astro';
import { Image } from 'astro:assets';
import img from '../../assets/danny.webp';
---

<App title="About Me" description="Lorem ipsum dolor sit amet" pubDate={new Date('August 08 2021')}>
    <section>
        <h1>About me</h1>

        <div class="about-info">
            <div id="about-me-image">
                <Image src={img} alt="This is me" aria-hidden={true} />
            </div>

            <article>
                <p>Hi! I am Danny.</p>

                <p style="text-align:center">
                    I am a <em>Freelancer</em>.
                </p>
                <p style="text-align:right">
                    I create <strong>modern websites</strong>.
                </p>

                <p>
                    I live in <em>Nagasaki, Japan</em>.
                </p>

                <p>
                    I have many years of experience using PHP with Laravel and JavaScript. My
                    favorite stack is Laravel with either Livewire and Alpine.js or Inertia.js and
                    Vue.js.
                </p>
                <p>
                    I love learning new technologies and frameworks, and I'm always looking to
                    improve my knowledge in the technologies I use. My goal is to create clean,
                    maintainable, and secure applications.
                </p>
            </article>
        </div>
    </section>
</App>

<style>
    .about-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        #about-me-image {
            order: 2;
        }

        img {
            border-radius: 1rem;
            margin-right: 1rem;
            height: 100%;
        }

        article {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                text-align: justify;
            }
        }
    }
    @media (min-width: 1024px) {
        .about-info {
            flex-direction: row;

            #about-me-image {
                order: 0;
            }
        }
    }
</style>
