---
const today = new Date();
---

<footer>
    <section>
        &copy; {today.getFullYear()} Danny Festor. All rights reserved.
    </section>
    <section class="social-links">
        <a href="https://github.com/dannyfestor" target="_blank">
            <img src="/icon-github.svg" alt="Find my open source projects on Github">
            <span class="sr-only">GitHub</span>
        </a>

        <a href="https://pinkary.com/@danakin" target="_blank">
            <img src="/icon-pinkary.svg" alt="Find all my socials on Pinkary">
            <span class="sr-only">All my socials<br />on Pinkary.com</span>
        </a>
    </section>
</footer>
