---
import { Image } from 'astro:assets';

const today = new Date();
---

<footer>
    <section>
        &copy; {today.getFullYear()} Danny Festor. All rights reserved.
    </section>
    <section class="social-links">
        <a href="https://github.com/dannyfestor" target="_blank">
            <Image
                src="/icon-github.svg"
                alt="Find my open source projects on Github"
                height={48}
                width={48}
            >
                <span class="sr-only">GitHub</span>
            </Image>

            <a href="https://pinkary.com/@danakin" target="_blank">
                <Image
                    src="/icon-pinkary.svg"
                    alt="Find all my socials on Pinkary"
                    height={48}
                    width={48}
                >
                    <span class="sr-only">All my socials<br />on Pinkary.com</span>
                </Image>
            </a>
        </a>
    </section>
</footer>
