---
interface Props {
    tags: string[];
    tag?: string;
}

import { COLORMAP } from '../../consts';

const { tags, tag: selectedTag } = Astro.props;
---

<section id="tag-list">
    {
        tags.map((tag) => (
            <a
                href={'/blog/tag/' + tag}
                style={
                    '--tag-primary:' +
                    ((tag === selectedTag ? COLORMAP[tag]?.bg : COLORMAP[tag]?.fg) ?? '#0F0') +
                    ';--tag-secondary:' +
                    ((tag === selectedTag ? COLORMAP[tag]?.fg : COLORMAP[tag]?.bg) ?? '#F0F')
                }
            >
                {tag}
            </a>
        ))
    }
</section>
