---
import BaseHead from "@components/BaseHead.astro";

import type { CollectionEntry } from "astro:content";
import Footer from "@components/Footer.astro";
import Navigation from "@components/Navigation.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Navigation />
        <main>
            <slot />
        </main>
        <Footer />

        <script src="../scripts/darkmode.ts"></script>
    </body>
</html>
